body {
  margin: 0px;
  padding: 0px;
  font-family: "Times New Roman", Times, serif;
}
.header {
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: rgb(200, 200, 200);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #24b9ea;
  z-index: 10;
}
.logo {
  height: 70px;
  cursor: pointer;
}
.search {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: center;
}
.search__input {
  border: 1px solid #24b9ea;
  border-radius: 20px 0 0 20px;
  height: 40px;
  width: 60%;
  min-width: 100px;
  outline: none;
  font-size: 22px;
  padding: 0px 20px;
}
.search__input::placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-size: 19px;
}
.search__btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn {
  background-color: #24b9ea;
  height: 40px;
  width: 100px;
  border-color: transparent;
  outline: none;
  margin-right: 10px;
}
.cart {
  font-size: 35px;
  height: 70px;
  padding-top: 10px;
  margin-right: 10px;
  display: inline-block;
}
.cart__count {
  position: absolute;
  font-size: 20px;
  right: 5px;
  bottom: -20px;
}
.cart-order__inner {
  margin: 50px auto;
  width: 70%;
  background-color: #24b9ea;
  min-height: 500px;
  position: relative;
  padding: 15px;
  border-radius: 15px;
}
.cart-order__text {
  text-align: center;
}
.cart-order__order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 15px;
  position: absolute;
  width: 100%;
}
.cart-order__order-text {
  font-size: 22px;
  margin: 0;
}
.btn__cart-order {
  margin-right: 25px;
  background-color: #fff;
  color: black;
}
.cart-order__image {
  height: 100px;
  float: left;
  margin-right: 10px;
}
.cart-order__item {
  min-height: 110px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  background-color: #fff;
  margin-bottom: 15px;
  position: relative;
}
.cart-order__item:last-child {
  margin-bottom: 100px;
}
.cart-order__item-description {
  margin: 0 15px 0 0;
}
.cart-order__item-text {
  display: flex;
  align-items: center;
  height: 80px;
  line-height: 1.2;
}
.cart-order__item-delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: #fff;
  border: 0;
  cursor: pointer;
  color: rgb(200, 200, 200);
}
.cart-order__item-delete-btn:focus {
  outline: none;
}
.cart-order__item-delete-btn:active {
  color: red;
}
.btn__cart-order-counter {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 0;
}
.minus.disabled {
  background-color: rgb(200, 200, 200);
  border: 0;
}
.cart-order__number-input::-webkit-outer-spin-button,
.cart-order__number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.cart-order__item-price {
  display: inline-block;
  margin: 0;
}
.cart-order__item-description-order {
  min-width: 230px;
  text-align: center;
}
.cart-order__item-form {
  display: inline-block;
  margin-left: 15px;
}
.minus {
  line-height: 30px;
}
.cart-order__number-input {
  width: 30px;
  border: 0;
  padding-right: 10px;
  outline: none;
  text-align: center;
}
.cart-order__empty {
  text-align: center;
  margin: 15px;
}
.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.сategories {
  width: 20%;
  position: fixed;
  bottom: 0;
  top: 70px;
  border-right: 5px solid #24b9ea;
  padding-top: 100px;
}
.main {
  position: absolute;
  top: 70px;
  left: 20%;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.genre__list {
  width: 100%;
  padding-left: 0px;
}
.genre__link {
  list-style-type: none;
  width: 100%;
  border-radius: 0;
}
.genre__link a {
  display: block;
  color: #fff;
  outline: none;
  text-decoration: none;
}
.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  width: 17rem;
  min-width: 270px;
  margin: 15px;
  padding-bottom: 40px;
}
.card-link {
  position: absolute;
  bottom: 15px;
}
.about {
  position: fixed;
  top: 70px;
  left: 20%;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: #fff;
  overflow: auto;
}
.about__image {
  width: 400px;
  padding: 20px;
  float: left;
}
.about__p {
  font-size: 22px;
  margin-left: 30px;
  margin-right: 20px;
}
.about__title {
  margin-top: 10px;
  text-align: center;
}
.about__text {
  padding: 20px 0;
  background-color: rgb(200, 200, 200);
  height: 100%;
  min-height: 400px;
}
#carouselExampleControls {
  height: 300px;
  background-color: rgb(200, 200, 200);
  width: 85%;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1100px;
}
.d-block {
  height: 300px;
  width: 300px;
  margin: 0 10%;
  padding: 10px;
  float: left;
}
.carousel__title {
  padding-top: 30px;
}
.result__text {
  text-align: center;
  padding: 10px 15px;
}
.noMatch,
.order__text {
  text-align: center;
  margin-top: 15px;
  padding: 10px;
}
.noMatch__btn {
  display: block;
  margin: 0 auto;
}
.order {
  background-color: rgba(0, 0, 0, 0.7);
}
.order__text {
  display: block;
  margin: 15px auto;
  width: 50%;
  background-color: #fff;
  border-radius: 10px;
}
.egg {
  display: block;
  margin: 20px auto;
}
@media (max-width: 1020px) {
  .logo {
    display: none;
  }
  .сategories {
    height: 50px;
    top: 70px;
    border: 1px solid #24b9ea;
    padding: 0px;
    width: 100%;
  }
  .сategories::after {
    position: absolute;
    top: 12px;
    right: 48%;
    content: "Меню";
  }
  .сategories.active {
    padding-top: 50px;
    top: 0px;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
  }
  .сategories.active::after {
    content: "\2716";
    top: 20px;
    right: 20px;
  }
  .genre__list {
    margin-top: 10px;
    display: none;
    position: relative;
  }
  .active .genre__list {
    display: block;
  }
  .main,
  .about {
    top: 120px;
    left: 0;
  }
  .about__image {
    width: 100%;
  }
  .about__btn {
    margin-left: 20px;
  }
  .d-block {
    margin-right: 0;
  }
  .cart-order__order-text {
    font-size: 16px;
  }
  .cart-order__item {
    display: block;
  }
  .cart-order__item-description-order {
    margin-top: 10px;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .d-block {
    float: none;
    margin: 0 auto;
    width: 90%;
    max-width: 300px;
  }
}
@media (max-width: 650px) {
  .d-block {
    float: none;
    margin: 0 auto;
    width: 90%;
    max-width: 300px;
  }
  .cart-order__image {
    float: none;
    height: 120px;
    margin-left: calc(50% - 60px);
  }
  .cart-order__item-text {
    margin-top: 10px;
  }
}
